<div class="row save-row">
    <a {{ action "removeElement" on="click"}}>
        <i class="fa fa-trash"></i>
    </a>
    <a {{ action "togglIsEditing" on="click"}}>
        <i class="fa fa-check"></i>
    </a>
</div>