<div {{bind-attr class=":field formElement.immutable:immutable" }}>
    <label>{{ formElement.label }}{{#if formElement.required}}*{{/if}}:</label>
    <span><input type="text" name="first_name" disabled></span>
</div>
