<div {{bind-attr class=":hopper-sidenav sidenavIsOpen:open"}}>
    <div class='available-fields'>
        <!-- Fields go here... -->
    </div>
    <div class="sidenav-control" {{action "toggleSidenavIsOpen" on="click"}}>
        <i {{bind-attr class=":fa sidenavIsOpen:fa-caret-right:fa-caret-left"}}></i>
    </div>
</div>