.full-height {
    height: 100%;
}

.clear-both {
    clear: both;
}

body, html, div.ember-view {
    @extend .full-height;
}

$fa-font-path: "fontawesome/fonts";
$row-width: 100%;
$total-columns: 16;


@import "bower_components/foundation/scss/normalize.scss";
@import "bower_components/foundation/scss/foundation.scss";
@import "bower_components/fontawesome/scss/font-awesome.scss";

#hopper {
    margin-top: -3px;
    @extend .full-height;
}

.hopper-col {
    @extend .full-height;
}

.hopper-col-last {
    padding-right: 0;
}

.hopper-content {
    @extend .full-height;
    padding-left: 1em;
    padding-right: 1em;
    .form-title {
        float: left;
    }
    .form-meta-toggl {
        float: left;
        margin: 1.5em;
    }
    .form-control {
        float: right;
        margin: 1.5em;
        .fa-question-circle {
            font-size: 200%;
        }
    }
    .form-content {
        clear: both;
    }
}

.hopper-fields {
    clear: both;
}

.hopper-sidenav {
    @extend .full-height;
    float: right;
    border-left: 2px solid #000000;
    .sidenav-control {
        width: 50px;
        @extend .full-height;
        text-align: center;
        font-size: 300%;
        float: left;
    }
    .available-fields {
        float: right;
        @extend .full-height;
        width: 0px;
        border-left: 2px solid #000000;
    }
}

.hopper-sidenav.open {
    .available-fields {
        width: 250px;
    }
}
