// variable definitions
$element-drawer-width: 50px;
$hopper-meta-height: 162px;
$solid-black-border: 1px solid #000000;

$hopper-light-gray: #E6E6E6;
$hopper-light-green: #CBE8BA;

$hopper-color-blue: #2570A3; //blue
$hopper-color-darkblue: #486070; //darkblue
$hopper-color-red: #A32625; //red
$hopper-color-orange: #DB4F35; //orange
$hopper-color-lightblue: #46D6C4; //lightblue

// variable overridings
$fa-font-path: "fontawesome/fonts";
$row-width: 100%;
$total-columns: 16;

$button-bg-color: $hopper-color-blue;
$button-bg-hover: $hopper-color-darkblue;

/* Background pattern from subtlepatterns.com */
$hopper-background-url: '/images/crossword.png';

.button.active {
    background-color: $hopper-color-darkblue;
}

// mixins
@mixin border-radius-mixin($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition-mixin($property, $time, $function, $delay) {
    -webkit-transition: $property $time $function;
    -webkit-transition-delay: $delay;
    -moz-transition: $property $time $function;
    -moz-transition-delay: $delay;
    -o-transition: $property $time $function;
    -o-transition-delay: $delay;
    transition: $property $time $function;
    transition-delay: $delay;
}

// Imports
@import "bower_components/foundation/scss/normalize.scss";
@import "bower_components/foundation/scss/foundation.scss";
@import "bower_components/fontawesome/scss/font-awesome.scss";



// Basic classes & styles
body {
    background: url($hopper-background-url);
}

.full-height {
    height: 100%;
}

.clear-both {
    clear: both;
}

body, html, div.ember-view {
    @extend .full-height;
}

.border-top-bottom {
    border-top: $solid-black-border;
    border-bottom: $solid-black-border;
}

// Changes & custom css
.columns {
    padding-left: 0;
    padding-right: 0;
}

#hopperOutletHelper {
    position: absolute;
    left: 5%;
    top: 30%;
}

#hopper {
    @extend .full-height;
    width: 1024px;
    float: left;
}

.hopper-col {
    @include transition-mixin(width, 0.2s, ease, 0s);
    @extend .full-height;
}

.hopper-col-last {
    padding-right: 0;
}

.hopper-content {
    @extend .full-height;
    padding-left: 1em;
    padding-right: 1em;
    .hopper-meta {
        height: $hopper-meta-height;
        .form-title {
            width: 100%;
            float: left;
            border-bottom: 1px solid $hopper-light-gray;
            margin-bottom: 1em;
            input, h1 {
                margin-top: 0.5em;
                cursor: pointer;
                margin-top: 0;
            }
            h1 {
                font-size: 200%;
            }
            input {
                height: 40px;
                font-size: 150%;
            }
        }
        .form-meta-toggl {
            float: left;
            margin: 1.5em;
            .button {
                margin-right: 0.3em;
            }
        }
        .form-control {
            float: right;
            margin: 1.5em;
        }
        .form-meta-toggl, .form-control {
            margin-bottom: 0;
        }
    }
    .hopper-outlet {
        clear: both;
        overflow-y: auto;
        height: calc(100% - #{$hopper-meta-height})
    }
}

.hopper-element-drawer {
    @extend .full-height;
    float: left;
    width: 100%;
    .element-drawer-control {
        @extend .full-height;
        @extend .border-top-bottom;
        border-right: $solid-black-border;
        width: $element-drawer-width;
        text-align: center;
        font-size: 300%;
        float: left;
        cursor: pointer;
        background-color: $hopper-color-darkblue;
        color: white;
    }
    .available-fields {
        @extend .full-height;
        @include transition-mixin(width, 0.2s, ease, 0s);
        float: left;
        width: 0px;
        border-right: $solid-black-border;
        overflow-y: auto;
        background-color: $hopper-color-darkblue;
    }
    .available-fields.open {
        width: calc(100% - #{$element-drawer-width});
    }
}

.available-fields {
    @extend .border-top-bottom;
    ul {
        list-style-type: none;
        margin-left: 0;
        li {
            font-size: 100%;
            //border-bottom: $solid-black-border;
            padding: 0.5em 0 0.5em 1em;
            cursor: pointer;
            color: white;
        }
        li:hover {
            background-color: $hopper-color-blue;
        }
    }
}

.field, .fieldset {
    margin-bottom: 1em;
    padding: 1em;
    input {
        margin-bottom: 0;
    }
    h2 {
        font-size: 135%;
    }
}

.field {
    background-color: #FFFFFF;
    min-height: 4.5em;
    padding-top: 0.7em
}

.meta-form {
    padding-top: 1.5em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 2em;
    background-color: white;
    .columns {
        padding-left: 1em;
    }
}

.field, .fieldset, .meta-form {
    @include border-radius-mixin(10px);
    border: $solid-black-border;
    label {
        float: left;
        padding-top: 0.4em;
        padding-right: 1em;
        font-weight: bold;
        font-size: 100%;
    }
    span {
        display: block;
        overflow: hidden;
    }
    label.checkboxes {
        width: 100%;
    }
}

.field {
    padding-top: 1em;
}

.field.edit {
    padding-bottom: 0;
    .row {
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 0.5em;
    }
    label {
        width: 120px;
    }
    input[type="checkbox"] {
        margin-top: 0.8em;
    }
    .save-row {
        a {
            float: right;
            font-size: 200%;
            color: #000000;
            margin-top: -1em;
            margin-left: 0.2em;
        }
        a:hover {
            color: #000000;
        }
    }
}

.immutable {
    background-color: $hopper-light-green;
}

.sub-elements {
    min-height: 3em;
}

.ui-sortable-placeholder {
    border: 2px dashed #555555;
    visibility: visible !important;
    height: 50px !important;
    margin-bottom: 1em;
}
