<div class="hopper">

    {{hopper-sidenav}}

    <div class="hopper-content">
        <div class="form-title">
            <h1>My awesome Festival</h1>
        </div>
        <div class="form-meta-toggl">
            <div class="switch round">
                <input id="exampleCheckboxSwitch" type="checkbox">
                <label for="exampleCheckboxSwitch"></label>
            </div>
        </div>
        <div class="form-control">
            <a href="#" class="button small success">
                <i class="fa fa-check"></i> Save
            </a>
            <a href="#" class="button small alert">
                <i class="fa fa-times"></i> Cancel
            </a>
            <a href="#">
                <i class="fa fa-question-circle"></i>
            </a>
        </div>
    </div>
</div>
