<div> <!-- this will be replaced with a component for choosen fields -->
    {{#each element in model.formElements}}
        <div {{bind-attr class=":field element.immutable:immutable" }}>
            <label>{{ element.label }}{{#if element.required}}*{{/if}}:</label>
            <span><input type="text" name="first_name" disabled></span>
        </div>
    {{/each}}
</div>
