
<div class="meta-form"> <!-- this will be replaced with a component for form manipilation -->
    <div class="row">
        <div class="columns medium-5 form-method">
            <label>Form method:</label>
            <span>
                <select>
                    <option value="POST">POST</option>
                    <option value="GET">GET</option>
                </select>
            </span>
        </div>
        <div class="columns medium-11">
            <input placeholder="Form action" type="text">
        </div>
    </div>

    <div class="row">
        <div class="columns medium-5">
            <input placeholder="Form enctype" type="text">
        </div>
        <div class="columns medium-6">
            <input placeholder="Form classes" type="text">
        </div>
        <div class="columns medium-5">
            <input placeholder="Field class" type="text">
        </div>
    </div>
</div>
